<!DOCTYPE html>
<!-- 
    # Bottlers (Jeff Chen, Yusha Aziz, Fang Chen)	
		# SoftDev
    # K12 Take and Give (Flask GET and POST)
    # October 17 2022
    # time spent: 0.5 hrs
 -->

<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h2>
      You found a dungeon door! <br>
      A stone is carved with "The Bottlers (Fang, Jeff, Yusha) were here." <br><br>
      Now... open sesame with your username...
    </h2>


    <h3>
      Enter your username below to proceed.
    </h3>
    <form action="/auth" method="POST">
      <input type="text" name="username">
      <br><br>
      <input type="submit" name="sub1">
    </form>
    <br>
  </body>

</html>
