<!DOCTYPE html>
<!-- 
    # Bottlers (Jeff Chen, Yusha Aziz, Fang Chen)	
		# SoftDev
    # K12 Take and Give (Flask GET and POST)
    # October 17 2022
    # time spent: 0.5 hrs
 -->

<html>
	<head>
		<title> Into the dungeon... </title>
	</head>
	<body>
		<h3>
			Welcome, {{username}}, to Clyde Sinclair's lair! <br><br>
		</h3>

		We used the request methods, request.form.get('inputName')
		and used double braces to steal your identity and display it. <br><br>
		
		<h3> 
			Sincerely, <br> 
		</h3>
		The Bottlers (who infiltrated) <br>
		Fang, Jeff, Yusha
	</body>
</html>
