<!DOCTYPE html>
<!-- 
#Yusha, Jeff, Fang
# SoftDev
# K12 -- Take and Give
# 2022-10-17
# time spent: 45 mins

     simple demo of HTML forms via Flask
     
     trioTASK:
     If any member of team has forms experience, let their know-how OSMOTE.
     If no one does, seek external assistance.
     
     PROTIP: Revisit code from intro if you have it.
     Peruse this code together and discuss how it should work,
       in conjunction with the back end apparatus.
 -->


<html>

  <head>
    <title> RESPONSE PAGE </title>
  </head>

  <body>
    <h1>
      Welcome, {{username}} 
    </h1>
    <h4>
      Method used {{method}} <!-- THe purpose of this line is to say which type of method it used to get it: GET or POST -->
    </h4>
    <h2>
      This is Yusha. How are you doing today, sir?
    </h2>

    
    <br>
  </body>

</html>
